:root {
    --header-y: 20px;
    --info-y: 60px;

    --header-y--md: 40px;
    --info-y--md: 80px;

    --header-y--lg: 40px;
    --info-y--lg: 80px;
}

.Info {
    padding: 20px 20px 40px;
    width: 100%;
    height: 100%;

    @media (--md) {
        padding: 20px 0 40px;
    }
}

.Info-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    width: 100%;
}

.Info-title {
    font-weight: normal;
    margin-top: 0;
    text-align: left;
}

.Info-client {
    display: flex;

    li:nth-child(n+2)::before {
        content: "\00A0/\00A0";
    }
}

.Info-text {
    line-height: 1.8;
    text-align: left;
}

.Info-footer {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 20px;
    position: absolute;
    width: 100%;

    @media (--md) {
        padding: 0;
    }
}

.Info-tags,
.Info-link {
    padding: 0 2px;
}
