.App {
    overflow-x: hidden;
    height: 100vh;
}

.App-sections {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.App-section {
    margin-bottom: 4em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
