:root {
    --contact-text-color: var(--color-text);
    --contact-link-color: var(--color-text);
}

.Contact {
    color: var(--contact-text-color);
    font-size: var(--font-size-lg);
    margin-bottom: 4em;

    li {
        margin: 0.75em auto;
        text-align: center;
    }

    li:first-child {
        margin-bottom: 3em;
    }

    @media (--md) {
        font-size: var(--font-size-lg--md);
    }

    @media (--lg) {
        font-size: var(--font-size-lg--lg);
    }
}

.Contact-link {
    color: var(--contact-link-color);

    &::before {
        background-color: var(--color-text);
    }
}
