:root {
    --work-tag-spacing: 6px;
    --work-tag-color: var(--text-color-dark);
    --work-tag-hover-color: var(--text-color-dark-underline);
}

/*.Work {}*/

.Work-tags {
    padding: 4px calc(var(--spacing-wide) - var(--work-tag-spacing));
}

.Work-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}
