.About {
    display: flex;
    flex-direction: column;
    width: 100%;

    a::before {
        background-color: var(--color-text);
    }
}

.About-info {
    flex: 1;
    margin: 0 auto;
    text-align: center;

    @media (--md) {
        max-width: 850px;
    }
}

.About-tech {
    text-align: center;
}
