@font-face {
    font-family: "octicons";
    font-style: normal;
    font-weight: normal;
    src: url("./octicons.woff") format("woff");
}

.Icon {
    color: inherit;
    display: inline-block;
    font-family: octicons;
    font-size: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding: 1px;
    pointer-events: none;
    text-decoration: none;
    text-rendering: auto;
    user-select: none;

    &::before {
        font-size: var(--icon-size-lg);
    }
}

.Icon--small,
.Icon--tag {
    &::before {
        font-size: var(--icon-size-sm);
    }
}

.Icon--left::before {
    content: "\f0a4";
}

.Icon--right::before {
    content: "\f078";
}

.Icon--tag::before {
    content: "\f015";
}

.Icon--link::before {
    content: "\f07f";
}

.Icon--view::before {
    content: "\f04e";
}

/* Filters */

.Icon--experiment::before {
    content: "\f0dd";
}

.Icon--open::before,
.Icon--open_source::before {
    content: "\f0dd";
}

.Icon--audio::before {
    content: "\f0ba";
}

.Icon--mobile::before {
    content: "\f038";
}

.Icon--film::before {
    content: "\f056";
}

.Icon--data::before {
    content: "\f094";
}

.Icon--vr::before {
    content: "\f04e";
}

.Icon--3d::before {
    content: "\f057";
}

.Icon--game::before {
    content: "\f09d";
}

.Icon--pinned::before {
    content: "\f041";
}

.Icon--featured::before {
    content: "\2665";
}

.Icon--all::before {
    content: "\f096";
}

.Icon--website::before {
    content: "\f0b6";
}

.Icon--experiential::before {
    content: "\f0d1";
}
