:root {
    --contact-spacing: 1em;
}

.Contact {
    text-align: center;
}

.Contact-item {
    margin: var(--contact-spacing) auto;

    &:first-of-type {
        margin-bottom: calc(var(--contact-spacing) * 2);
    }
}
