.IconButton {
    align-items: center;
    cursor: pointer;
    display: flex;
    line-height: 1.4;
    position: relative;
    text-transform: capitalize;

    &::before {
        background-color: var(--color-text);
    }
}

.IconButton-label {
    margin-left: 6px;

    .IconButton--filter & {
        display: none;

        @media (--lg) {
            display: block;
        }
    }
}
