:root {
    --boids-size: 30px;
    --boids-opacity: 1;
    --boids-color: var(--mint);
}

.Boids {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    > b {
        width: 0;
    	height: 0;
    	border-top: var(--boids-size) solid transparent;
    	border-bottom: var(--boids-size) solid transparent;
    	border-left: var(--boids-size) solid var(--boids-color);
        display: block;
        opacity: var(--boids-opacity);
        position: absolute;
    }
}
