:root {
    --boid-size: 20px;
}

.Boids {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 0;

    > b {
        background-color: var(--mint);
        border-radius: 2px;
        box-shadow: 0 0 12px var(--mint);
        display: block;
        height: var(--boid-size);
        opacity: 0.5;
        position: absolute;
        width: var(--boid-size);
    }
}
