:root {
    --carousel-anim-duration: 0.5s;
    --carousel-anim-ease: ease-in;
}

.Carousel {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.Carousel-list {
    height: 100%;
    list-style: none;
    width: 100%;
}

.Carousel-item {
    height: 100%;
    left: 0;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out;
    width: 100%;

    > img {
        display: block;
        max-width: 100%;
    }

    &.is-active {
        opacity: 1;
    }
}
