:root {
    --carousel-anim-duration: 0.5s;
    --carousel-anim-ease: ease-in;
}

.Carousel {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-in-cubic;
    width: 100%;

    &::before {
        /*background-color: var(--color-overlay);*/
        content: "";
        height: 1000em;
        left: -500em;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: -500em;
        transition: opacity 0.2s ease-in 0.2s;
        width: 1000em;
    }
}

.Carousel-list {
    list-style: none;
}

.Carousel-item {
    height: 100%;
    left: 0;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-in 0.2s;
    width: 100%;

    img {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &.is-active {
        opacity: 1;
        transition-delay: 0s;
        transition-timing-function: ease-out;
    }
}
