:root {
    --contact-text-color: var(--text-color-dark);
    --contact-link-color: var(--text-color-dark);
}

.Contact {
    color: var(--contact-text-color);
    padding: var(--spacing-wide);
    text-transform: none;

    li:first-child {
        margin-bottom: 10px;
    }

    @media (--narrow) {
        font-size: var(--font-size-x-large);
    }
}

.Contact-link {
    background: linear-gradient(var(--contact-link-color), var(--contact-link-color)) no-repeat;
    background-position: 0 1.1em;
    background-size: 100% 2px;
    color: var(--contact-link-color);
    font-weight: 700;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 var(--bg-color-primary),
        1px -1px 0 var(--bg-color-primary),
        -1px 1px 0 var(--bg-color-primary),
        1px 1px 0 var(--bg-color-primary);
}
