.Contact {
    color: var(--contact-text-color);
    padding: var(--spacing-wide);
    text-transform: none;

    li:first-child {
        margin-bottom: 10px;
    }

    @media (--narrow) {
        font-size: var(--font-size-x-large);
    }
}

.Contact-link {
    color: var(--contact-link-color);
    font-weight: bold;
}
