.Filter {
    display: flex;
    margin: 0 auto;
}

.Filter-count {
    display: none;
    font-size: 80%;

    @media (--lg) {
        display: inline;
    }
}

/*
 * Modifier: Work
 */

.Filter--work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .Icon {
        min-width: 16px;

        @media (--md) {
            min-width: 0;
        }
    }
}

/*
 * Modifier: Info
 */

.Filter--info {
    align-items: center;
    width: 100%;

    .Icon {
        font-size: var(--icon-size-xsm);
    }

    li {
        margin-right: 20px;

        .IconButton::before {
            background-color: var(--white);
        }
    }
}
