.Filter {
    display: flex;
    margin: 0 auto;
}

.Filter-item {
    align-items: center;
    display: flex;
    line-height: 1.4;
    position: relative;
    text-transform: capitalize;

    &::before {
        background-color: var(--color-text);
    }
}

.Filter-label {
    margin-left: 6px;
}

/*
 * Modifier: Work
 */

.Filter--work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .Filter-label {
        display: none;

        @media (--md) {
            display: block;
        }
    }

    .Icon {
        min-width: 16px;

        @media (--md) {
            min-width: 0;
        }
    }

    li:first-child .Filter-item,
    li:last-child .Filter-item {
        margin-right: 0;
    }
}

/*
 * Modifier: Info
 */

.Filter--info {
    align-items: center;
    width: 100%;

    .Icon {
        font-size: var(--icon-size-xsm);
    }

    .Filter-item {
        margin-right: 20px;

        &::before {
            background-color: var(--white);
        }
    }
}
