:root {
    --footer-background-color: var(--bg-color-dark);
    --footer-text-color: var(--accent-color);
    --footer-link-color: var(--text-color-light);
}

.Footer {
    background-color: var(--footer-background-color);
    flex-shrink: 0;
    padding: var(--spacing-narrow) var(--spacing-wide);
}

.Footer-list {
    align-items: center;
    color: var(--footer-text-color);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-small);
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @media (--medium) {
        font-size: var(--font-size-large);
    }
}

.Footer-link {
    color: var(--footer-link-color);
}

.Footer-link::before {
    background-color: var(--footer-text-color);
}

.Footer-copyright {
    min-width: 40%;
    text-align: right;
}
