:root {}
.Footer {
    background-color: var(--footer-background-color);
    border-top: solid var(--border-color);
    border-width: var(--border-width);
    flex-shrink: 0;
    padding: var(--spacing-wide);
}
.Footer-list {
    align-items: center;
    color: var(--footer-text-color);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-small);
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
@media (--medium) {
    .Footer-list {
        font-size: var(--font-size-large);
    }
}
.Footer-link {
    color: var(--footer-link-color);
}
.Footer-link::before {
    background-color: var(--footer-text-color);
}
.Footer-copyright {
    min-width: 40%;
    text-align: right;
}
