:root {
    --footer-background-color: var(--bg-color-light);
    --footer-text-color: var(--accent-color);
    --footer-link-color: var(--text-color);
}

.Footer {
    background-color: var(--footer-background-color);
    box-shadow: 0 -3px 3px -3px var(--shadow-color);
    flex-shrink: 0;
    padding: var(--spacing-narrow);
    position: relative;

    @media (--medium) {
        padding: var(--spacing-narrow) var(--spacing-wide);
    }
}

.Footer-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-small);
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @media (--medium) {
        font-size: var(--font-size-large);
    }
}

.Footer-link {
    color: var(--footer-link-color);
}

.Footer-link::before {
    background-color: var(--footer-text-color);
}
