:root {
    --header-bg-color: var(--bg-color-light);
    --header-title-color: var(--title-color);
    --header-link-color: var(--text-color-dark);
    --header-link-hover-color: var(--text-color-dark-underline);
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.Header {
    align-items: center;
    background-color: var(--header-bg-color);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: var(--spacing-wide);
    position: relative;
}

.Header-titleLink {
    text-decoration: none;

    &.is-active {
        animation: caret 1s steps(1) infinite;
        border-right: 0.3em solid var(--header-title-color);
    }
}

.Header-title {
    color: var(--header-title-color);
    font-size: var(--font-size-medium);
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-right: 0.2em;

    @media (--narrow) {
        font-size: var(--font-size-x-large);
    }
}

.Header-menu {
    display: flex;
}

.Header-menuItem {
    display: block;
    margin: 0 var(--spacing-narrow);

    @media (--narrow) {
        margin: 0 var(--spacing);
    }

    @media (--medium) {
        margin: 0 var(--spacing-wide);
    }

    &:last-child {
        margin-right: 0;
    }
}

.Header-link {
    color: var(--header-link-color);
    font-size: var(--font-size-small);

    @media (--medium) {
        font-size: var(--font-size-large);
    }

    &::before {
        background-color: var(--header-link-hover-color);
    }
}
