:root {}
.Header {
    align-items: center;
    background-color: var(--work-background-color);
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-wide);
    position: relative;
    z-index: 1;
    padding-bottom: 22px;
}
.Header::before {
    border-bottom: solid var(--footer-border-color);
    border-width: var(--border-width);
    background-color: var(--header-bg-color);
    height: 66px;
    content: "";
    left: 0;
    position: absolute;
    top: -12px;
    transform: skewY(-0.75deg);
    width: 100%;
    z-index: -1;
}
.Header-title {
    color: var(--header-title-color);
    flex: 1;
    font-size: var(--font-size-medium);
    font-weight: normal;
    line-height: 1;
    margin: 0;
}
@media (--narrow) {
    .Header-title {
        font-size: var(--font-size-large);
    }
}
@media (--medium) {
    .Header-title {
        font-size: var(--font-size-x-large);
    }
}
.Header-menu {
    display: flex;
}
.Header-menuItem {
    display: block;
    margin: 0 var(--spacing);
}
.Header-menuItem:last-child {
    margin-right: 0;
}
@media (--medium) {
    .Header-menuItem {
        margin: 0 var(--spacing-wide);
    }
}
.Header-link {
    color: var(--header-link-color);
    font-size: var(--font-size-small);
}
@media (--medium) {
    .Header-link {
        font-size: var(--font-size-large);
    }
}
.Header-link::before {
    background-color: var(--header-link-hover-color);
}
