@font-face {
    font-family: "octicons";
    font-style: normal;
    font-weight: normal;
    src: url("../font/octicons/octicons.woff") format("woff");
}

.Icon {
    color: inherit;
    display: inline-block;
    font-family: octicons;
    font-size: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    pointer-events: none;
    text-decoration: none;
    text-rendering: auto;
    user-select: none;
    width: var(--icon-size-large);

    &::before {
        font-size: var(--icon-size-large);
    }
}

.Icon--small {
    width: var(--icon-size-small);

    &::before {
        font-size: var(--icon-size-small);
    }
}

.Icon--tag {
    width: var(--icon-size-small);

    &::before {
        font-size: var(--icon-size-small);
    }
}

.Icon--left::before {
    content: "\f0a4";
}

.Icon--right::before {
    content: "\f078";
}

.Icon--close::before {
    content: "\f081";
}

.Icon--tag::before {
    content: "\f015";
}

.Icon--link::before {
    content: "\f07f";
}

.Icon--view::before {
    content: "\f04e";
}

/* Filters */

.Icon--side_project::before {
    content: "\f0dd";
}

.Icon--open_source::before {
    content: "\f00a";

    /*content: "\f042";*/
}

.Icon--audio::before {
    content: "\f0ba";
}

.Icon--mobile_first::before {
    content: "\f038";
}

.Icon--interactive_film::before {
    content: "\f056";
}

.Icon--data_driven::before {
    content: "\f094";
}

.Icon--vr::before {
    content: "\f04e";
}

.Icon--3d::before {
    content: "\f057";
}

.Icon--game::before {
    content: "\f09d";
}
