:root {
    --info-min-height: 120px;
    --info-background-color: var(--bg-color-dark);
    --info-title-color: var(--text-color-light);
    --info-year-color: var(--text-color-light);
    --info-text-color: var(--text-color-light);
    --info-tag-color: var(--text-color-light);
    --info-tag-underline-color: var(--text-color-light-underline);
}

.Info {
    background-color: var(--info-background-color);
    border-top: solid var(--border-color);
    border-width: var(--border-width);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    min-height: var(--info-min-height);
    position: relative;
    width: 100%;
}

.Info-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-narrow);
    padding: 0 var(--spacing);
}

.Info-title {
    color: var(--info-title-color);
    font-size: var(--font-size-medium);
    font-weight: normal;
    margin-bottom: 0.2em;
}

.Info-year {
    color: var(--info-year-color);
    font-size: var(--font-size-small);
    text-decoration: none;
}

.Info-text {
    color: var(--info-text-color);
    font-size: var(--font-size-small);
    line-height: 1.4;
    list-style: square inside;
    padding: 0 var(--spacing);
    pointer-events: none;
    text-align: left;
    text-transform: none;
}

.Info-link {
    bottom: 0;
    color: var(--accent-color);
    padding: var(--spacing-narrow) var(--spacing);
    position: absolute;
    right: 0;
}
