:root {
    --header-y: 80px;
    --info-y: 160px;

    --header-y--md: 100px;
    --info-y--md: 180px;

    --header-y--lg: 120px;
    --info-y--lg: 200px;
}

.Info {
    background: var(--color-overlay);
    bottom: 0;
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.Info-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition:
        top 0.6s ease-in-out,
        transform 0.6s ease-in-out;
    transition-delay: 0.2s;
    width: 100%;

    h3 {
        text-align: left;
    }

    .is-selected & {
        top: 0;
        transform: translateY(var(--header-y));

        @media (--md) {
            transform: translateY(var(--header-y--md));
        }

        @media (--lg) {
            transform: translateY(var(--header-y--lg));
        }
    }
}

.Info-title {
    font-weight: normal;
    margin: 0.2em 0;
}

.Info-inner {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    transition-delay: 0s;

    .is-selected & {
        opacity: 1;
        transition: opacity 0.8s ease-out;
        transition-delay: 0.6s;
    }
}

.Info-text {
    left: 0;
    line-height: 2;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 0;
    transform: translateY(var(--info-y));

    @media (--md) {
        transform: translateY(var(--info-y--md));
    }

    @media (--lg) {
        transform: translateY(var(--info-y--lg));
    }
}

.Info-text li {
    font-size: var(--font-size-xsm);

    @media (--md) {
        font-size: var(--font-size-xsm--md);
    }

    @media (--lg) {
        font-size: var(--font-size-xsm--lg);
    }
}

.Info-filters {
    bottom: 0;
    left: 0;
    position: absolute;
}

.Info-link {
    bottom: 0;
    position: absolute;
    right: 0;
}

.Info-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
