:root {
    --header-y: 80px;
    --info-y: 160px;

    --header-y--md: 100px;
    --info-y--md: 180px;

    --header-y--lg: 160px;
    --info-y--lg: 240px;
}

.Info {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    bottom: 0;
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-out 0.3s;
    width: 100%;
    z-index: 1;

    .is-loaded & {
        opacity: 1;
    }

    &::after {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.3s ease-out;
        width: 100%;
        z-index: -1;

        .is-selected & {
            opacity: 1;
        }
    }
}

.Info-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: top 0.6s ease-in-out;
    transition-delay: 0.2s;
    width: 100%;

    h3 {
        text-align: left;
    }

    .is-selected & {
        top: var(--header-y);

        @media (--md) {
            top: var(--header-y--md);
        }

        @media (--lg) {
            top: var(--header-y--lg);
        }
    }
}

.Info-title {
    font-weight: normal;
    margin: 0.2em 0;
}

.Info-inner {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    transition-delay: 0s;

    .is-selected & {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.8s ease-out;
        transition-delay: 0.6s;
    }
}

.Info-text {
    left: 0;
    line-height: 2;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 0;
    transform: translateY(var(--info-y));

    @media (--md) {
        transform: translateY(var(--info-y--md));
    }

    @media (--lg) {
        transform: translateY(var(--info-y--lg));
    }
}

.Info-text li {
    font-size: var(--font-size-xsm);

    @media (--md) {
        font-size: var(--font-size-xsm--md);
    }

    @media (--lg) {
        font-size: var(--font-size-xsm--lg);
    }
}

.Info-filters {
    bottom: 0;
    left: 0;
    position: absolute;
}

.Info-link {
    bottom: 0;
    position: absolute;
    right: 0;

    a::before {
        background-color: var(--color-bg);
    }
}

.Info-linkLabel {
    margin-right: 8px;
}

.Info-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
