.Overlay {
    background-color: var(--overlay-nav-background-color);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease-out;
    visibility: hidden;
}

.Overlay-nav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 4px 8px;
    position: relative;
}

.Overlay-link,
.Overlay-close {
    color: var(--overlay-nav-icon-color);
}

.Overlay-close {
    display: none;
    margin-left: var(--spacing-wide);
}

@media (--narrow) {
    .Overlay-nav {
        padding: 8px 12px;
    }

    .Overlay-close {
        display: block;
    }
}

.Project.is-selected .Overlay {
    opacity: 1;
    visibility: visible;
}
