.Project {
    cursor: zoom-in;
    flex: 0 1 auto;
    position: relative;
    width: 100%;

    &.is-selected {
        cursor: default;
    }
}

.Project-image {
    padding-top: 0;
    position: relative;
    transition: padding-top 0.4s ease;

    img {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:empty {
        background-image: linear-gradient(135deg, #3ca55c, #b5ac49);
    }
}

.Project.is-loaded .Project-image {
    padding-top: 28.125%;
    transition-delay: 0.3s;

    @media (--md) {
        padding-top: 16%;
    }
}

.Project.is-loaded:first-of-type .Project-image {
    padding-top: 56.25%;

    @media (--md) {
        padding-top: 32%;
    }
}

.Project.is-loaded.is-selected .Project-image {
    padding-top: 100vh;
    transition-delay: 0s;

    @media (--md) {
        min-height: 520px;
    }
}
