.Project {
    background-color: var(--bg-color-dark);
    box-shadow: 6px 8px 32px 4px var(--shadow-color);
    flex: 0 1 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.Project-carousel {
    padding-top: 56.25%;
    position: relative;
}

@media (--narrow) {
    .Project.layout-center {
        margin-left: 20%;
        margin-right: 20%;
        min-width: 320px;
        width: 60%;
    }

    .Project.layout-right {
        margin-left: 30%;
        margin-right: 10%;
        min-width: 320px;
        width: 60%;
    }

    .Project.layout-left {
        margin-left: 10%;
        margin-right: 30%;
        min-width: 320px;
        width: 60%;
    }

    .Project.layout-smallLeft {
        margin-left: 30%;
        margin-right: 40%;
        min-width: 280px;
        width: 30%;
    }

    .Project.layout-smallRight {
        margin-left: 40%;
        margin-right: 30%;
        min-width: 280px;
        width: 30%;
    }

    .Project:first-of-type {
        margin-left: 18%;
        margin-right: 18%;
        min-width: 320px;
        width: 64%;
    }
}
