:root {
    --project-info-height: 140px;
}

.Project {
    box-shadow: 6px 8px 32px 4px rgba(0, 0, 0, 0.15);
    flex: 0 1 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;

    &::before {
        content: "";
        display: block;
        padding-top: calc(56.25% + var(--project-info-height));
        width: 100%;
    }

    &.is-selected {
        box-shadow: none;
    }
}

.Project-inner {
    background-color: var(--bg-color-dark);
    border-width: var(--border-width);
    height: calc(100% - var(--project-info-height));
    left: 0;
    position: absolute;
    top: 0;
    transition: width, height, top, left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    width: 100%;
    z-index: 0;

    img {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.Project.is-selected .Project-inner {
    box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.6);
    transition-timing-function: ease-out;
}

/*
.Project.is-selected .Project-inner > Picture img {
    filter: grayscale();
}
*/

.Project-link {
    cursor: zoom-in;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Project.is-selected .Project-link {

    /*
    cursor: zoom-out;
    */
    display: none;
}

.Project-info {
    height: var(--project-info-height);
    position: absolute;
    top: 100%;
    width: 100%;
}

@media (--narrow) {
    .Project.layout-center {
        margin-left: 20%;
        margin-right: 20%;
        min-width: 320px;
        width: 60%;
    }

    .Project.layout-right {
        margin-left: 30%;
        margin-right: 10%;
        min-width: 320px;
        width: 60%;
    }

    .Project.layout-left {
        margin-left: 10%;
        margin-right: 30%;
        min-width: 320px;
        width: 60%;
    }

    .Project.layout-smallLeft {
        margin-left: 30%;
        margin-right: 40%;
        min-width: 280px;
        width: 30%;
    }

    .Project.layout-smallRight {
        margin-left: 40%;
        margin-right: 30%;
        min-width: 280px;
        width: 30%;
    }
}
