.Services {
    box-sizing: border-box;
    color: var(--services-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-wide);
    width: 100%;

    @media (--medium) {
        flex-direction: row;
    }
}

.Services-info {
    flex: 1;
    margin-bottom: var(--spacing-wide);
    margin-right: 10%;

    > h2 {
        font-size: var(--font-size-large);
        font-weight: normal;
    }

    > p {
        margin-bottom: var(--spacing-wide);
        text-transform: none;
    }
}

.Services-list {
    background-color: var(--services-list-bg-color);
    border-bottom: solid var(--border-color);
    border-top: solid var(--border-color);
    border-width: var(--border-width);
    color: var(--services-list-text-color);
    flex: 1;
    font-size: var(--font-size-small);
    padding: var(--spacing-wide);
}

.Services-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--spacing-wide);
    position: relative;

    @media (--narrow) {
        flex-direction: row;
    }

    &:first-child {
        margin-top: 0;
    }

    > li {
        min-width: 50%;
    }
}

.Services-name {
    color: var(--services-list-group-color);
    width: 100%;
}
