.Thumb {
    cursor: zoom-in;
    flex: 0 1 auto;
    position: relative;
    width: 100%;

    &.is-selected {
        cursor: default;
    }
}

.Thumb-image {
    padding-top: 28.125%;
    padding-top: 0;
    position: relative;
    transition: padding-top 0.4s ease;

    @media (--md) {
        padding-top: 16%;
        padding-top: 0;
    }

    .Thumb:first-of-type & {
        padding-top: 56.25%;

        @media (--md) {
            padding-top: 32%;
            padding-top: 0;
        }
    }

    img {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:empty {
        background-image: linear-gradient(135deg, #3ca55c, #b5ac49);
    }
}

.Thumb.is-loaded .Thumb-image {
    padding-top: 28.125%;
    transition-delay: 0.2s;

    @media (--md) {
        padding-top: 16%;
    }
}

.Thumb.is-loaded:first-of-type .Thumb-image {
    padding-top: 56.25%;

    @media (--md) {
        padding-top: 32%;
    }
}

.Thumb.is-loaded.is-selected .Thumb-image {
    padding-top: 100vh;
    transition-delay: 0s;
}

.Thumb.is-loaded {
    &:nth-of-type(2) .Thumb-image {
        transition-delay: 0.1s;
    }

    &:nth-of-type(3) .Thumb-image {
        transition-delay: 0.2s;
    }

    &:nth-of-type(4) .Thumb-image {
        transition-delay: 0.3s;
    }

    &:nth-of-type(5) .Thumb-image {
        transition-delay: 0.4s;
    }

    &:nth-of-type(6) .Thumb-image {
        transition-delay: 0.5s;
    }

    &:nth-of-type(7) .Thumb-image {
        transition-delay: 0.6s;
    }

    &:nth-of-type(8) .Thumb-image {
        transition-delay: 0.7s;
    }

    &:nth-of-type(9) .Thumb-image {
        transition-delay: 0.8s;
    }
}
