:root {

    /* font */

    --font: "Raleway", sans-serif;
    --letter-spacing: 0.05em;

    /* font size */

    --font-size-xsm: 16px;
    --font-size-xsm--md: 18px;
    --font-size-xsm--lg: 22px;

    --font-size-sm: 18px;
    --font-size-sm--md: 24px;
    --font-size-sm--lg: 32px;

    --font-size-md: 22px;
    --font-size-md--md: 26px;
    --font-size-md--lg: 32px;

    --font-size-lg: 32px;
    --font-size-lg--md: 48px;
    --font-size-lg--lg: 60px;

    /* icon size */

    --icon-size-xsm: 12px;
    --icon-size-sm: 16px;
    --icon-size-lg: 32px;
    --icon-size-xlg: 36px;

    /* spacing */

    --spacing: 16px;
    --spacing--md: 24px;
    --spacing--lg: 48px;

    /* color palette */

    --white: #fefefe;
    --black: #111;
    --black-semi-opaque: rgba(0, 0, 0, 0.5);

    /* background colors */

    --color-bg: var(--white);
    --color-overlay: var(--black-semi-opaque);

    /* text colors */

    --color-text: var(--black);
}
