/* Root */

/* font face */

/*@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Nunito:400,700,300);*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);*/

/* vars */

:root {
    /* font family */

    --font: "Source Sans Pro", monospace, Courier;

    /* font size */

    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-x-large: 24px;

    /* spacing */

    --spacing-narrow: 4px;
    --spacing: 8px;
    --spacing-wide: 16px;
    --border-width: 4px;

    /* color palette */

    --blue: #3859ff;
    --mint: #6bffa1;
    --pink: #fa9ef3;
    --yellow: #ffe610;
    --red: #fa4d46;

    --bg-primary: #fafafa;
    --text-primary: black;
    --link-primary: black;
    --link-primary-underline: black;

    --bg-secondary: #303030;
    --text-secondary: white;
    --link-secondary: #fafafa;
    --link-secondary-underline: var(--mint);

    --border-color: var(--mint);
    --highlight: var(--mint);
    --title: #fafafa;
    /*--bg-primary: var(--red);
    --text-primary: var(--yellow);
    --link-primary: var(--yellow);
    --link-primary-underline: var(--yellow);

    --bg-secondary: var(--blue);
    --text-secondary: var(--mint);
    --link-secondary: var(--mint);
    --link-secondary-underline: var(--pink);

    --border-color: var(--mint);
    --highlight: var(--pink);*/

    /* component colors */

    --header-bg-color: var(--bg-secondary);
    --header-title-color: var(--title);
    --header-link-color: var(--link-secondary);
    --header-link-hover-color: var(--link-secondary-underline);

    --work-background-color: var(--bg-primary);
    --work-tags-border-color: none;
    --work-tags-background-color: var(--bg-primary);
    --work-tag-color: var(--link-primary);
    --work-tag-hover-color: var(--link-primary-underline);

    --project-background-color: var(--bg-secondary);
    --info-background-color: var(--bg-secondary);
    --info-title-color: var(--title);
    --info-year-color: var(--title);
    --info-text-color: var(--text-secondary);
    --info-tag-color: var(--link-secondary);
    --info-tag-underline-color: var(--link-secondary-underline);

    --overlay-nav-background-color: var(--bg-secondary);
    --overlay-nav-icon-color: var(--link-secondary-underline);

    --carousel-navbutton-background-color: var(--bg-secondary);
    --carousel-nav-icon-color: var(--highlight);

    --footer-background-color: var(--bg-secondary);
    --footer-text-color: var(--highlight);
    --footer-link-color: var(--link-secondary);

    --services-background-color: var(--bg-primary);
    --services-text-color: var(--text-primary);
    --services-list-bg-color: var(--bg-secondary);
    --services-list-text-color: var(--text-secondary);
    --services-list-group-color: var(--highlight);

    --contact-background-color: var(--bg-primary);
    --contact-text-color: var(--text-primary);
    --contact-link-color: var(--link-primary);
}

/* media queries */

@custom-media --narrow (min-width: 415px);
@custom-media --medium (min-width: 768px);
@custom-media --large (min-width: 1280px);
@custom-media --portrait (orientation: portrait);
@custom-media --landscape (orientation: landscape);

/* sections */

html {
    height: 100%;
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font);
    background-color: #ffffff;
    color: #000;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    text-transform: uppercase;
}

/* elements */

button {
    cursor: pointer;
    font-family: var(--font);
    text-transform: uppercase;
}

button:focus, a:focus {
    outline: none;
}

/* utilities */

.u-link {
    position: relative;
    text-decoration: none;
}
.u-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: inherit;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.u-link.active::before, .u-link.is-active::before {
    transform: scaleX(1);
}
@media (--narrow) {
    .u-link:hover::before {
        transform: scaleX(1);
    }
}
