html {
    font-family: var(--font);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font);
    height: 100%;
    letter-spacing: var(--letter-spacing);
    line-height: 1.5;
    margin: 0;
    overflow-y: scroll;
    padding: 0;

    > * {
        overflow-x: hidden;
    }
}

main {
    display: block;
}
