.u-link {
    position: relative;
    text-decoration: none;
}

.u-link::before {
    background-color: inherit;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.u-link.is-active::before {
    transform: scaleX(1);
}

@media (--narrow) {
    .u-link:hover::before {
        transform: scaleX(1);
    }
}

.u-background {
    background: linear-gradient(to bottom,
        var(--home-background-color)
        0%,
        #fff
        100%
    );
}
