.u-link,
.u-links a {
    background: linear-gradient(var(--black), var(--black)) no-repeat;
    background-position: 0 100%;
    background-size: 100% 1px;
    margin-bottom: -0.3em;
    padding-bottom: 0.3em;
    /*text-shadow:
        -1px -1px 0 var(--white),
        1px -1px 0 var(--white),
        -1px 1px 0 var(--white),
        1px 1px 0 var(--white);*/
    transition: background-size 0.15s ease-in-out;

    &.is-active,
    .Modernizr-no-touchevents &:hover {
        background-size: 105% 3px;
    }
}

.u-pad {
    padding: var(--spacing);

    @media (--md) {
        padding: var(--spacing--md);
    }

    @media (--lg) {
        padding: var(--spacing--lg);
    }
}

.u-padH {
    padding: 0 var(--spacing);

    @media (--md) {
        padding: 0 var(--spacing--md);
    }

    @media (--lg) {
        padding: 0 var(--spacing--lg);
    }
}

.u-font-sm {
    font-size: var(--font-size-sm);

    @media (--md) {
        font-size: var(--font-size-sm--md);
    }

    @media (--lg) {
        font-size: var(--font-size-sm--lg);
    }
}

.u-font-md {
    font-size: var(--font-size-md);

    @media (--md) {
        font-size: var(--font-size-md--md);
    }

    @media (--lg) {
        font-size: var(--font-size-md--lg);
    }
}

.u-font-lg {
    font-size: var(--font-size-lg);

    @media (--md) {
        font-size: var(--font-size-lg--md);
    }

    @media (--lg) {
        font-size: var(--font-size-lg--lg);
    }
}
