.u-link {
    margin-bottom: -0.25em;
    padding-bottom: 0.25em;
    position: relative;
    text-decoration: none;

    &::before {
        background-color: inherit;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        width: 100%;
    }

    &.is-active::before {
        transform: scaleX(1);
    }

    @media (--md) {
        &:hover::before {
            transform: scaleX(1);
        }
    }
}

.u-pad {
    padding: var(--spacing);

    @media (--md) {
        padding: var(--spacing--md);
    }

    @media (--lg) {
        padding: var(--spacing--lg);
    }
}

.u-padH {
    padding: 0 var(--spacing);

    @media (--md) {
        padding: 0 var(--spacing--md);
    }

    @media (--lg) {
        padding: 0 var(--spacing--lg);
    }
}

.u-font-xsm {
    font-size: var(--font-size-xsm);

    @media (--md) {
        font-size: var(--font-size-xsm--md);
    }

    @media (--lg) {
        font-size: var(--font-size-xsm--lg);
    }
}

.u-font-sm {
    font-size: var(--font-size-sm);

    @media (--md) {
        font-size: var(--font-size-sm--md);
    }

    @media (--lg) {
        font-size: var(--font-size-sm--lg);
    }
}

.u-font-md {
    font-size: var(--font-size-md);

    @media (--md) {
        font-size: var(--font-size-md--md);
    }

    @media (--lg) {
        font-size: var(--font-size-md--lg);
    }
}

.u-font-lg {
    font-size: var(--font-size-lg);

    @media (--md) {
        font-size: var(--font-size-lg--md);
    }

    @media (--lg) {
        font-size: var(--font-size-lg--lg);
    }
}
