:root {
    --boids-size: 5px;
    --boids-opacity: 0.1;
    --boids-color: var(--color-text);
}

.Boids {
    backface-visibility: hidden;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

    > b {
        background: var(--boids-color);
        border: 1px solid var(--boids-color);
        border-radius: 50%;
        display: block;
        height: 80px;
        opacity: var(--boids-opacity);
        position: absolute;
        width: 80px;
    }
}
