.Tech {
    flex: 1;
}

.Tech-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1em;
    position: relative;
    text-align: center;

    @media (--md) {
        flex-direction: row;
    }

    &:first-child {
        margin-top: 0;
    }
}

.Tech-name {
    width: 100%;
}

.Tech-item {
    width: 100%;

    @media (--md) {
        width: 33.3%;
    }
}
