/* Libraries */

@import url("../node_modules/normalize.css/normalize.css");
@import url("../node_modules/suitcss-base/lib/base.css");

/* Vars */

@import url("css/fonts.css");
@import url("css/media.css");
@import url("css/props.css");

/* Global */

@import url("css/sections.css");
@import url("css/elements.css");
@import url("css/utils.css");

/* Components */

@import url("components/App.css");
@import url("components/Boids.css");
@import url("components/Carousel.css");
@import url("components/Contact.css");
@import url("components/Filter.css");
@import url("components/Footer.css");
@import url("components/Header.css");
@import url("components/Home.css");
@import url("components/Icon.css");
@import url("components/Info.css");
@import url("components/Overlay.css");
@import url("components/Project.css");
@import url("components/Services.css");
@import url("components/Work.css");
