/* Libraries */

@import url("../node_modules/normalize.css/normalize.css");
@import url("../node_modules/suitcss-base/lib/base.css");

/* Vars */

@import url("css/fonts.css");
@import url("css/media.css");
@import url("css/props.css");

/* Global */

@import url("css/sections.css");
@import url("css/elements.css");
@import url("css/utils.css");

/* Views */

@import url("view/Header.css");
@import url("view/About.css");
@import url("view/App.css");
@import url("view/Contact.css");
@import url("view/Work.css");

/* Components */

@import url("components/Boids.css");
@import url("components/Filter.css");
@import url("components/Icon.css");
@import url("components/IconButton.css");
@import url("components/Info.css");
@import url("components/Project.css");
