.Work {
    width: 100%;
}

.Work-tags {
    margin: 0 auto;
    width: 100%;
}

.Work-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    @media (--md) {
        padding: 0 10px;
    }

    @media (--lg) {
        padding: 0;
    }
}
